[project]
	description = The material you need for your lab
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/cst316
[access "refs/for/refs/*"]
	read = group user/cst316
	push = group user/cst316
	label-Code-Review = -2..+2 group user/cst316
	label-Verified = -1..+1 group user/cst316
	rebase = group user/cst316
	removeReviewer = group user/cst316
	submit = group user/cst316
[access "refs/heads/*"]
	read = group user/cst316
	create = group user/cst316
	push = +force group user/cst316
	pushMerge = group user/cst316
[access "refs/tags/*"]
	push = +force group user/cst316
	pushTag = group user/cst316
	pushSignedTag = group user/cst316
